body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#content nav {
  text-align: center;
}
h2 {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
}
h2 a{
  color: rgb(82, 164, 189);
}

#root {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
}
